.button-big {
    display: inline-block;
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    border: 0px;
    border-radius: 22px;
    cursor: pointer;
    }
    
    .button-normal {
    display: inline-block;
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    border: 0px;
    border-radius: 20px;
    cursor: pointer;
    }
    
    .button-micro {
    display: inline-block;
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    border: 0px;
    border-radius: 20px;
    cursor: pointer;
    }