:root{
    --first-bgr-color:#fff5f6;
    --second-bgr-color:#fff;
    --header-bgr-color:#ffb8ca;
    
    --primary-accent-color:#d41443;
    --title-color:#d41443;
    --secondary-accent-color:#ffa5ba;
    
    --main-text-color:#fff;
    --secondary-text-color:#000;
    --third-text-color:#907e82; 
    
     /* Product section */
    --bgr-color-ice-cream:#ffb8ca;
    --bgr-color-ice-coffee:#f0d1a5;
    --bgr-color-milkshakes:#c2e297; 
    
     /* Btn  */
    --first-btn-color:#d41443;
    --second-btn-color:#fff; 

    // Hover
    --hover-btn:#ECEBEB;
    --hover-contacts:#D41443;
    --hover-icon-social:#D41443;

    }


   