<section class="contacts" id="contact">
    <div class="container">
        <h2 class="contacts__title">contacts</h2>
        <ul class="cards list">
            <li class="card">
                <p class="card__title">CAFE</p>
                <div class="card__description">
                    <p class="card__description-title">Chicago</p>
                    <p class="card__description-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>

                <ul class="card__work-time list">
                    <li class="work-time__block">
                        <p class="work-time__days">Monday - Friday</p>
                        <p class="work-time__time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="work-time__block">
                        <p class="work-time__days">Saturday - Sunday</p>
                        <p class="work-time__time">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>

                <ul class="card__contact-list list">
                    <li class="contact-list__item">
                        <a class="contact-list__link link" href="tel:+610383766284">+61(0) 383 766 284</a>
                    </li>
                    <li class="contact-list__item">
                        <a class="contact-list__link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
            <li class="card">
                <p class="card__title card__title--green">FOODTRUCK</p>
                <div class="card__description">
                    <p class="card__description-title">Los Angeles</p>
                    <p class="card__description-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>

                <ul class="card__work-time list">
                    <li class="work-time__block">
                        <p class="work-time__days">Monday - Friday</p>
                        <p class="work-time__time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="work-time__block">
                        <p class="work-time__days">Saturday - Sunday</p>
                        <p class="work-time__time">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>

                <ul class="card__contact-list list">
                    <li class="contact-list__item">
                        <a class="contact-list__link link" href="tel:+610383766284">+610383 766 284</a>
                    </li>
                    <li class="contact-list__item">
                        <a class="contact-list__link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
            <li class="card">
                <p class="card__title">CAFE</p>
                <div class="card__description">
                    <p class="card__description-title">Chicago</p>
                    <p class="card__description-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>

                <ul class="card__work-time list">
                    <li class="work-time__block">
                        <p class="work-time__days">Monday - Friday</p>
                        <p class="work-time__time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="work-time__block">
                        <p class="work-time__days">Saturday - Sunday</p>
                        <p class="work-time__time">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>

                <ul class="card__contact-list list">
                    <li class="contact-list__item">
                        <a class="contact-list__link link" href="tel:+610383766284">+61(0) 383 766 284</a>
                    </li>
                    <li class="contact-list__item">
                        <a class="contact-list__link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="buttom-list list">
            <li class="buttom-item"><button class="buttom-list__btn" type="button" data-modal-open-map>Our Locations
                    <svg class="buttom-item__icon buttom-item__icon--light" width="6px" height="10px">
                        <use href="./images/SVG/sprite.svg#icon-arrow-small"></use>
                    </svg>
                </button></li>
            <li class="buttom-item"><button class="buttom-list__btn buttom-list__btn-light" type="button"
                    data-modal-open-franchise>Franchise
                    <svg class="buttom-item__icon" width="6px" height="10px">
                        <use href="./images/SVG/sprite.svg#icon-arrow-small"></use>
                    </svg>
                </button>
            </li>
        </ul>


        <div class="backdrop is-hidden" data-modal-map>
            <div class="modal-map">
                <button class="btn-close" type="button" data-modal-close-map><svg class="icon-close" width="18px"
                        height="18px">
                        <use href="./images/SVG/sprite.svg#icon-close"></use>
                    </svg></button>
                <iframe class="map"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1535.775171125738!2d-64.2595641837866!3d-65.24575168410409!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xbb807e3949df6c25%3A0x9b42faa27c341a43!2z0JjRgdGB0LvQtdC00L7QstCw0YLQtdC70YzRgdC60LDRjyDQsdCw0LfQsCAi0JDQutCw0LTQtdC80LjQuiDQktC10YDQvdCw0LTRgdC60LjQuSI!5e1!3m2!1sru!2sua!4v1660473592453!5m2!1sru!2sua"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">

                </iframe>
            </div>

        </div>


        <div class="backdrop is-hidden" data-modal-franchise>
            <div class="modal-franchise">
                <button class="btn-close" type="button" data-modal-close-franchise><svg class="icon-close" width="18px"
                        height="18px">
                        <use href="./images/SVG/sprite.svg#icon-close"></use>
                    </svg></button>
                <p class="modal-franchise__title">Franchise</p>
                <form class="modal-form">
                    <div class="modal-input"><label class="modal-label" for="user-name">name</label>
                        <div class="input-field">
                            <input class="input" type="text" name="user-name" id="user-name">
                        </div>
                    </div>
                    <div class="modal-input"><label class="modal-label" for="user-tel">phone</label>
                        <div class="input-field">
                            <input class="input" type="tel" name="user-tel" id="user-tel">
                        </div>
                    </div>
                    <div class="modal-input"><label class="modal-label" for="user-mail">mail</label>
                        <div class="input-field">
                            <input class="input" type="email" name="user-mail" id="user-mail">
                        </div>
                        <button class="modal-franchise__btn buttom-list__btn" type="submit">send</button>
                </form>

            </div>
        </div>


        <script>
            (() => {
                const refs = {
                    openModalBtn: document.querySelector("[data-modal-open-map]"),
                    closeModalBtn: document.querySelector("[data-modal-close-map]"),
                    modal: document.querySelector("[data-modal-map]"),
                };

                refs.openModalBtn.addEventListener("click", toggleModal);
                refs.closeModalBtn.addEventListener("click", toggleModal);

                function toggleModal() {
                    refs.modal.classList.toggle("is-hidden");
                }
            })();
        </script>
        <script>
            (() => {
                const refs = {
                    openModalBtn: document.querySelector("[data-modal-open-franchise]"),
                    closeModalBtn: document.querySelector("[data-modal-close-franchise]"),
                    modal: document.querySelector("[data-modal-franchise]"),
                };

                refs.openModalBtn.addEventListener("click", toggleModal);
                refs.closeModalBtn.addEventListener("click", toggleModal);

                function toggleModal() {
                    refs.modal.classList.toggle("is-hidden");
                }
            })();
        </script>

    </div>

</section>