<section class="container customer-reviews" id="customer-reviews">
  <h2 class="visually-hidden">Customer reviews</h2>

  <!-- Slideshow container -->

  <div class="container-slider">
    <div class="reviews-slider fade">
      <img
        class="reviews-slider__img"
        srcset="
          /src/images/testimonials1.png    1x,
          /src/images/testimonials1@2x.png 2x
        "
        src="/src/images/testimonials1.png"
        alt="user photo"
      />
      <div class="container-review">
        <p class="reviews-slider__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
      </div>
      <div class="marker-list">
        <span class="marker-list__dot"></span>
        <span class="marker-list__dot"></span>
        <span class="marker-list__dot"></span>
      </div>
      <p class="reviews-slider__client">Emily, Los Angeles</p>
    </div>

    <div class="reviews-slider fade">
      <img
        class="reviews-slider__img"
        srcset="
          /src/images/testimonials2.png    1x,
          /src/images/testimonials2@2x.png 2x
        "
        src="/src/images/testimonials2.png"
        alt="user photo"
      />
      <div class="container-review">
        <p class="reviews-slider__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, ut?
          Id doloremque fugit voluptates illum perspiciatis est, vitae saepe
          sunt doloribus vel, sed numquam!
        </p>
      </div>
      <div class="marker-list">
        <span class="marker-list__dot"></span>
        <span class="marker-list__dot"></span>
        <span class="marker-list__dot"></span>
      </div>
      <p class="reviews-slider__client">Jesika, New York</p>
    </div>

    <div class="reviews-slider fade">
      <img
        class="reviews-slider__img"
        srcset="
          /src/images/testimonials3.png    1x,
          /src/images/testimonials3@2x.png 2x
        "
        src="/src/images/testimonials3.png"
        alt="user photo"
      />
      <div class="container-review">
        <p class="reviews-slider__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, ut?
          Id doloremque fugit voluptates illum perspiciatis est, vitae saepe
          sunt doloribus vel, sed numquam!
        </p>
      </div>
      <div class="marker-list">
        <span class="marker-list__dot"></span>
        <span class="marker-list__dot"></span>
        <span class="marker-list__dot"></span>
      </div>
      <p class="reviews-slider__client">Anna, Chicago</p>
    </div>
  </div>
</section>
