<section class="footer">
    <div class="container">

        <div class="footer__title-box">
            <p class="footer__sub-title">homemade ice cream made</p>
            <p class="footer__title">with passion</p>
        </div>


        <ul class="social-links">
            <li class="social-links__item">
                <a href="#">
                    <svg width="32" height="32">
                        <use href="./images/SVG/symbol-defs.svg#icon-github"></use>
                    </svg>
                </a>
            </li>
            <li class="social-links__item">
                <a href="#">
                    <svg width="32" height="32">
                        <use href="./images/SVG/symbol-defs.svg#icon-telegram"></use>
                    </svg>
                </a>
            </li>
            <li class="social-links__item">
                <a href="#">
                    <svg width="32" height="32">
                        <use href="./images/SVG/symbol-defs.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
        </ul>

        <strong class="footer__tel">Feel free to contact
            <a class="footer__tel-link" href="tel:+610383766284">+61 (0) 383 766 284</a>
        </strong>
    </div>
</section>
        <div class="copyright">
            <p>&#169 2022 - IceCream.</p>
            <p>All Rights Reserved.</p>
                            
        </div>