<section class="gallery">
    <h2 class="visually-hidden">gallery</h2>
    <div class="master-mob container section">
        <picture>
            <source srcset="./images/icecreams@2x.png" type="image/png" />
            <img src="./images/icecreams@2x.png" alt="icecream">
        </picture>
    </div>
    <div class="master container section">
        <div class="block-one"> 
            <div class="small">
                <img src="./images/album/home-pic5@2x.png" alt="icecream">
            </div>
        </div>
        <div class="block-two">
            <div class="small">
                <img src="./images/album/home-pic4@2x.png" alt="icecream">
            </div>
            <div class="small">
                <img src="./images/album/home-pic6@2x.png" alt="icecream">
            </div>
        </div>
        <div class="block-three">
            <div class="big">
                <img src="./images/album/home-pic1@2x.png" alt="icecream">
            </div>
            <div class="small">
                <img src="./images/album/home-pic7@2x.png" alt="icecream">
            </div>
        </div>
        <div class="block-four">
            <div class="small">
                <img src="./images/album/home-pic9@2x.png" alt="icecream">
            </div>
            <div class="small">
                <img src="./images/album/home-pic8@2x.png" alt="icecream">
            </div>
        </div>
        <div class="block-five">
            <div class="small">
                <img src="./images/album/home-pic10@2x.png" alt="icecream">
            </div>
            <div class="small">
                <img src="./images/album/home-pic12@2x.png" alt="icecream">
            </div>
        </div>
        <div class="block-six"> 
            <div class="small">
                <img src="./images/album/home-pic11@2x.png" alt="icecream">
            </div>
        </div>
    </div>

