<div class="parent">
    <div class="div1"> 
        <img src="./images/album/home-pic5@2x.png" alt="">
    </div>
    <div class="div2">
        <img src="./images/album/home-pic4@2x.png" alt="">
    </div>
    <div class="div3">
        <img src="./images/album/home-pic6@2x.png" alt="">
    </div>
    <div class="div4">
        <img src="./images/album/home-pic1@2x.png" alt="">
    </div>
    <div class="div5">
        <img src="./images/album/home-pic7@2x.png" alt="">
    </div>
    <div class="div6"> 
        <img src="./images/album/home-pic9@2x.png" alt="">
    </div>
    <div class="div7"> 
        <img src="./images/album/home-pic8@2x.png" alt="">
    </div>
    <div class="div8"> 
        <img src="./images/album/home-pic10@2x.png" alt="">
    </div>
    <div class="div9"> 
        <img src="./images/album/home-pic12@2x.png" alt="">
    </div>
    <div class="div10"> 
        <img src="./images/album/home-pic11@2x.png" alt="">
    </div>
    </div>