
<header id="header" class="header--background" id="header">
    <div class="header container">
        <a class="logo" href=""><img src="./images/logo.svg" alt="logo"></a>
    <nav class="nav">

        <ul class="nav__links--desktop ">
            <li><a class="header__link" href="./index.html">Home</a></li>
            <li><a class="header__link" href="#advantages">About us</a></li>
            <li><a class="header__link" href="#how-its-made">How it’s made?</a></li>
            <li><a class="header__link" href="#our-products">Our products</a></li>
            <li><a class="header__link" href="#contact">Contact</a></li>
        </ul>
        <!-- <input class="header__input" type="checkbox" /> -->
        <div class="header__menu" id="header__menu" data-menu>
                        
            <ul class="nav__links ">
            <li><a class="header__link" href="./index.html">Home</a></li>
            <li><a class="header__link" href="#about-us">About us</a></li>
            <li><a class="header__link" href="#how-its-made">How it’s made?</a></li>
            <li><a class="header__link" href="#our-products">Our products</a></li>
            <li><a class="header__link" href="#contact">Contact</a></li>
            </ul>
     
        <button type="button" class="nav__button" data-modal-nav-open> Buy now <svg class="nav__button-arrow">
            <use href="./images/SVG/sprite.svg#icon-arrow-small"></use>
        </svg></button>
        
         <svg class="header__menu--icon-close is-close"  aria-expanded="false" 
                    data-menu-button-close>
            <use href="./images/SVG/sprite.svg#icon-close"></use>
        </svg>
        </div>
    </nav>
    <button type="button" class="header__burger-button is-open" aria-expanded="true"
                aria-controls="header__menu" 
                data-menu-button-open>
            <svg class="header__burger-button--image">
            <use href="./images/SVG/sprite.svg#icon-burger"></use>
        </svg>
    </button>

    <button type="button" class="header__button" data-modal-header-open> Buy now <svg class="nav__button-arrow">
            <use href="./images/SVG/sprite.svg#icon-arrow-small"></use>
        </svg></button>
</div>

</header>

<!-- hero -->

<div class="hero--background">
    <section class="hero container">
   <div class="hero--left-section">
    <h1 class="hero__heading">ice cream <br> made with <br> <span class="hero__heading--second-color">passion</span> </h1>

<a class="hero__button--dark" href="#our-products">Products</a>
<a class="hero__button--light" href="#how-its-made">How it’s made?</a>

<div class="hero--milk-picture">
    <picture>
    <source srcset="./images/hero-milk-tablet.png 1x, ./images/hero-milk-tablet@2x.png 2x"
        media="(min-width:768px) and (max-width:1199px)">
    <source srcset="./images/hero-milk-desktop.png 1x, ./images/hero-milk-desktop@2x.png 2x" media="(min-width:1200px)">
    <img src="./images/hero-milk-tablet.png" alt="a jug of milk">
</picture>
<div class="hero__description">
    <p class="hero__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing 
        elit, sed do eiusmod tempor incididunt ut labore et. 
        <input class="input__hero" type="checkbox"><span class="read-more">Lorem ipsum dolor sit 
            sandae, velit minus quasi ad nostrum.</span>
        <br>
        <button type="button" class="hero__paragraph-button">
            <svg class="hero__paragraph-button--image">
                <use href="./images/SVG/sprite.svg#icon-arrow"></use>
            </svg>
        </button>        
        </p>

<!-- <button type="button" class="hero__paragraph-button">    
<svg class="hero__paragraph-button--image"><use href="./images/SVG/sprite.svg#icon-arrow"></use>
</svg></button> -->
</div>

</div>
</div>    

<div class="hero--right-section">
    <picture class="hero__number-16">
    <source srcset="./images/hero-number-16-tablet.png 1x, ./images/hero-number-16-tablet@2x.png 2x"
        media="(min-width:768px) and (max-width:1199px)">
    <source srcset="./images/hero-number-16-desktop.png 1x, ./images/hero-number-16-desktop@2x.png 2x"
        media="(min-width:1200px)">
    <img src="./images/hero-number-16-tablet.png" alt="16">
</picture>

<p class="cafee-text">we grow <br>very fest</p>

<picture class="hero__number-23">
    <source srcset="./images/hero-number-23-tablet.png 1x, ./images/hero-number-23-tablet@2x.png 2x"
        media="(min-width:768px) and (max-width:1199px)">
    <source srcset="./images/hero-number-23-desktop.png 1x, ./images/hero-number-23-desktop@2x.png 2x"
        media="(min-width:1200px)">
    <img src="./images/hero-number-23-tablet.png" alt="23">
</picture>

<p class="trucks-text">Don't reinvent <br> the wheel, just <br> realign it.</p>

<picture class="hero__girl-image">
    <source srcset="./images/hero-girl-tablet.png 1x, ./images/hero-girl-tablet@2x.png 2x"
        media="(min-width:768px) and (max-width:1199px)">
    <source srcset="./images/hero-girl-desktop.png 1x, ./images/hero-girl-desktop@2x.png 2x" media="(min-width:1200px)">
    <img src="./images/hero-girl-tablet.png" alt="girl lick icecream">
</picture>

<p class="girl__new__text">I love<br>unicorns!</p>

</div>

<picture class="hero__circle-image">
    <source srcset="./images/hero-circle-mobile.png" media="(max-width:767px)">
    <source srcset="./images/hero-circle-tablet.png" media="(min-width:768px) and (max-width:1199px)">
    <source srcset="./images/hero-circle-desktop.png" media="(min-width:1200px)">
    <img src="./images/hero-circle-tablet.png" alt="circle behind icecream">
</picture>

<picture class="hero__icecream-image">
    <source srcset="./images/hero-icecream-mobile.png 1x, ./images/hero-icecream-mobile@2x.png 2x"
        media="(max-width:767px)">
    <source srcset="./images/hero-icecream-tablet.png 1x, ./images/hero-icecream-tablet@2x.png 2x"
        media="(min-width:768px) and (max-width:1199px)">
    <source srcset="./images/hero-icecream-desktop.png 1x, ./images/hero-icecream-desktop@2x.png 2x"
        media="(min-width:1200px)">
    <img src="./images/hero-icecream-mobile.png" alt="big icecream">
</picture>

<img class="unicorne-picture" src="./images/Cute-ice-cream-unicorn.webp" alt="icecreme unicrone">

<P class="promocode">Promo:<br><span class="ice-unicorn">Ice<span class="ice-unicorn2">Cream</span><br> <span
            class="unicorne1">u</span><span class="unicorne2">n</span><span class="unicorne3">i</span><span
            class="unicorne4">c</span><span class="unicorne5">o</span><span class="unicorne6">r</span><span
            class="unicorne7">n</span><span class="unicorne8">e</span></span></P>

</section>
</div>

<!-- modal -->

<div class="backdrop-header is-hidden-header" data-modal-header>
    <div class="modal-header">
        <button class="modal-header__exit-button" data-modal-header-close>
            <svg width="16px" height="16px" class="modal__cross-icon">
                <use href="./images/SVG/sprite.svg#icon-close">
                </use>
            </svg> </button>

        <div class="modal-header__field">

            <form name="user-data-form" autocomplete="on">

                <p class="modal-header__heading">order your tasty dream</p>

                <label for="username" class="form__label-header">Name</label>
                <div class="form__field-header">                   
                    <input class="form__input-header" type="text" id="username" name="username" placeholder=" " />
                </div>

                <label for="phone-number" class="form__label-header">Phone</label>
                <div class="form__field-header">                    
                    <input class="form__input-header" type="tel" id="phone-number" name="phone-number" required>
                </div>

                <label for="email2" class="form__label-header">E-mail</label>
                <div class="form__field">
                    
                    <input class="form__input-header" id="email2" type="email" name="email">
                </div>

                <label for="textarea" class="form__label-header">Comment</label>
                <textarea class="text-area-header" name="textarea" id="textarea" rows="5"
                    placeholder="input text"></textarea>                

                <button type="submit" class="modal__button-header">Send</button>

            </form>
        </div>
    </div>
</div>

<script src="./../js/modal-header.js"></script>
<script src="./../js/mobile-menu.js"></script>