
<header class="header--background">
    <div class="container header">
        <a class="logo" href=""><img src="./images/logo.svg" alt="logo"></a>
    <nav class="nav">
        <ul class="nav__links">
            <li><a class="header__link" href="./index.html">Home</a></li>
            <li><a class="header__link" href="#about-us">About us</a></li>
            <li><a class="header__link" href="#how-its-made">How it’s made?</a></li>
            <li><a class="header__link" href="#our-products">Our products</a></li>
            <li><a class="header__link" href="#contact">Contact</a></li>
        </ul>
        <button type="button" class="header__burger-button">
            <svg class="header__burger-button--image">
            <use href="./images/SVG/sprite.svg#icon-burger"></use>
        </svg>
    </button>
        <button type="button" class="nav__button"> Buy now <svg class="nav__button-arrow">
            <use href="./images/SVG/sprite.svg#icon-arrow-small"></use>
        </svg></button>
    </nav>
</div>

</header>

<!-- hero -->

<div class="hero--background">
    <section class="hero container">
   <div class="hero--left-section">
    <h1 class="hero__heading">ice cream <br> made with <br> <span class="hero__heading--second-color">passion</span> </h1>

<a class="hero__button--dark" href="#our-products">Products</a>
<a class="hero__button--light" href="#how-its-made">How it’s made?</a>

<div class="hero--milk-picture">
    <picture>
    <source srcset="./images/hero-milk-tablet.png 1x, ./images/hero-milk-tablet@2x.png 2x"
        media="(min-width:768px) and (max-width:1199px)">
    <source srcset="./images/hero-milk-desktop.png 1x, ./images/hero-milk-desktop@2x.png 2x" media="(min-width:1200px)">
    <img src="./images/hero-milk-tablet.png" alt="a jug of milk">
</picture>
<div class="hero__description">
    <p class="hero__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
<button type="button" class="hero__paragraph-button">    
<img class="hero__paragraph-button--image" src="./images/SVG/arrow.svg" alt="arrow"></button>
</div>

</div>
</div>    

<div class="hero--right-section">
    <picture class="hero__number-16">
    <source srcset="./images/hero-number-16-tablet.png 1x, ./images/hero-number-16-tablet@2x.png 2x"
        media="(min-width:768px) and (max-width:1199px)">
    <source srcset="./images/hero-number-16-desktop.png 1x, ./images/hero-number-16-desktop@2x.png 2x"
        media="(min-width:1200px)">
    <img src="./images/hero-number-16-tablet.png" alt="16">
</picture>

<picture class="hero__number-23">
    <source srcset="./images/hero-number-23-tablet.png 1x, ./images/hero-number-23-tablet@2x.png 2x"
        media="(min-width:768px) and (max-width:1199px)">
    <source srcset="./images/hero-number-23-desktop.png 1x, ./images/hero-number-23-desktop@2x.png 2x"
        media="(min-width:1200px)">
    <img src="./images/hero-number-23-tablet.png" alt="23">
</picture>

<picture class="hero__girl-image">
    <source srcset="./images/hero-girl-tablet.png 1x, ./images/hero-girl-tablet@2x.png 2x"
        media="(min-width:768px) and (max-width:1199px)">
    <source srcset="./images/hero-girl-desktop.png 1x, ./images/hero-girl-desktop@2x.png 2x" media="(min-width:1200px)">
    <img src="./images/hero-girl-tablet.png" alt="girl lick icecream">
</picture>


</div>

<picture class="hero__circle-image">
    <source srcset="./images/hero-circle-mobile.png" media="(max-width:767px)">
    <source srcset="./images/hero-circle-tablet.png" media="(min-width:768px) and (max-width:1199px)">
    <source srcset="./images/hero-circle-desktop.png" media="(min-width:1200px)">
    <img src="./images/hero-circle-tablet.png" alt="circle behind icecream">
</picture>

<picture class="hero__icecream-image">
    <source srcset="./images/hero-icecream-mobile.png 1x, ./images/hero-icecream-mobile@2x.png 2x"
        media="(max-width:767px)">
    <source srcset="./images/hero-icecream-tablet.png 1x, ./images/hero-icecream-tablet@2x.png 2x"
        media="(min-width:768px) and (max-width:1199px)">
    <source srcset="./images/hero-icecream-desktop.png 1x, ./images/hero-icecream-desktop@2x.png 2x"
        media="(min-width:1200px)">
    <img src="./images/hero-icecream-mobile.png" alt="big icecream">
</picture>       

</section>
</div>

