<section class="section">
    <div class="container">
        <div class="product-box">
            <span class="product-box__label">100% natural</span>
            <h2 class="product-box__title">products</h2>
            <div class="product-box__layout">
                <ul class="product-card">     

                    <!-- First card -->
                    <li class="product-card__item">      
                        <div class="flip">
                            <div class="flip__flip-face flip__flip-face--front">
                                <div class="product-card__bgr product-card__bgr--first">
                                    <h3 class="product-card__title-first">ice cream</h3>
                                    <p class="product-card__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                    do
                                    eiusmod tempor
                                    incididunt ut labore et. dolore magna
                                    aliqua facilisis.</p>
                                    <button class="product-btn" type="button">
                                        <img src="./images/arrow-right@2x.png" alt="images">
                                    </button>
                                </div> 
                            </div>
                            <div class="flip__flip-face flip__flip-face--back">
                                <div class="product-card__bgr product-card__bgr--first ">
                                    <p class="product-card__desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit ea fugit possimus autem provident sunt magni placeat ratione similique numquam. Dolor repellat enim mollitia quam, fugiat quisquam qui nobis omnis vitae, modi sunt quasi rerum!
                                    </p>
                                </div> 
                            </div>
                        </div>
                    </li>     

                    <!-- Second card -->
                    <li class="product-card__item">
                        <div class="flip">
                            <div class="flip__flip-face flip__flip-face--front">
                                <div class="product-card__bgr product-card__bgr--second">
                                    <h3 class="product-card__title-second">ice coffee</h3>
                                    <p class="product-card__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                        do
                                        eiusmod tempor
                                        incididunt ut labore et. dolore magna
                                        aliqua facilisis.</p>
                                    <button class="product-btn" type="button">
                                        <img src="./images/arrow-right@2x.png" alt="images">
                                    </button>
                                </div>
                            </div>
                            <div class="flip__flip-face flip__flip-face--back">
                                <div class="product-card__bgr product-card__bgr--first ">
                                    <p class="product-card__desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit ea fugit possimus autem provident sunt magni placeat ratione similique numquam. Dolor repellat enim mollitia quam, fugiat quisquam qui nobis omnis vitae, modi sunt quasi rerum!
                                    </p>
                                </div> 
                            </div>
                        </div>
                    </li>
                    <!-- Third card -->
                    <li class="product-card__item">
                        <div class="flip">
                            <div class="flip__flip-face flip__flip-face--front">
                                <div class="product-card__bgr product-card__bgr--third">
                                    <h3 class="product-card__title-third">milkshakes</h3>
                                    <p class="product-card__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                        do
                                        eiusmod tempor
                                        incididunt ut labore et. dolore magna
                                        aliqua facilisis.</p>
                                    <button class="product-btn" type="button">
                                        <img src="./images/arrow-right@2x.png" alt="images">
                                    </button>
                                </div>
                            </div>
                            <div class="flip__flip-face flip__flip-face--back">
                                <div class="product-card__bgr product-card__bgr--first ">
                                    <p class="product-card__desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit ea fugit possimus autem provident sunt magni placeat ratione similique numquam. Dolor repellat enim mollitia quam, fugiat quisquam qui nobis omnis vitae, modi sunt quasi rerum!
                                    </p>
                                </div> 
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>