<section class="section">
    <div class="container">
        <div class="product-box">
            <span class="product-box__label">100% natural</span>
            <h2 class="product-box__title">products</h2>
            <div class="product-box__layout">
                <ul class="product-card">
                    <li class="product-card__item">
                        <div class="product-card__bgr product-card__bgr--first">
                            <h3 class="product-card__title-first">ice cream</h3>
                            <p class="product-card__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                do
                                eiusmod tempor
                                incididunt ut labore et. dolore magna
                                aliqua facilisis.</p>
                            <button class="product-btn" type="button">
                                <svg width="40" height="40">
                                    <use href="./images/SVG/arrow.svg"></use>
                                </svg>
                            </button>
                        </div>
                    </li>
                    <li class="product-card__item">
                        <div class="product-card__bgr product-card__bgr--second">
                            <h3 class="product-card__title-second">ice coffee</h3>
                            <p class="product-card__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                do
                                eiusmod tempor
                                incididunt ut labore et. dolore magna
                                aliqua facilisis.</p>
                            <button class="product-btn" type="button">
                                <svg width="40" height="40">
                                    <use href="./images/SVG/arrow.svg"></use>
                                </svg>
                            </button>
                        </div>
                    </li>
                    <li class="product-card__item">
                        <div class="product-card__bgr product-card__bgr--third">
                            <h3 class="product-card__title-third">milkshakes</h3>
                            <p class="product-card__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                do
                                eiusmod tempor
                                incididunt ut labore et. dolore magna
                                aliqua facilisis.</p>
                            <button class="product-btn" type="button">
                                <svg width="40" height="40">
                                    <use href="./images/SVG/arrow.svg"></use>
                                </svg>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>