.customer-reviews {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 768px) {
        padding-bottom: 80px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.slider {
    position: relative;
    margin: 0 auto;
}

.reviews{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__img {
        width: 85px;
        height: 85px;
        margin-bottom: 32px;
    
        @media screen and (min-width: 768px) {
            margin-bottom: 20px;
        }
    
        @media screen and (min-width: 1200px) {
            margin-bottom: 16px;
        }
    }

    &__container {
       
        position: relative;

        padding: 43px 58px 26px 65px;
        background-color: #FAFAFA;
        width: 280px;

        @media screen and (min-width: 768px) {
            width: 620px;
            padding: 28px 6px 28px 6px;
        }
    
        @media screen and (min-width: 1200px) {
            width: 968px;
            padding: 32px 74px 31px 72px;
        }
        &::after{
            content: ' ';
            position: absolute;
            background-image: url('../images/3dots-slider.png');
            width: 32px;
            height: 4px;
            bottom: -16px;
            right: 46%;
            @media screen and (min-width:768px) {
                right: 48%;
            }
            @media screen and (min-width:1200px) {
                right: 49%;
            }
        }

        /*&::before {
            content: ' ';
            position: absolute;
            background-image: url('/src/images/quotes@2x.png');
            background-size: contain;
            width: 54px;
            height: 40px;
            top: 30px;
            left: 53px;
           
    
            @media screen and (min-width: 768px) {
                top: 28px;
                left: 6px;
            }
    
            @media screen and (min-width: 1200px) {
                top: 32px;
                left: 72px;
            }
        }*/
    }
  

    &__text {
        // background-image: repeating-linear-gradient(
            
        //     #606dbc,
        //     #606dbc 1px,
        //     #465298 1px,
        //     #465298 1px
        //   );
        font-family: 'DM Sans';
        font-weight: 500;
        font-size: 12px;
        line-height: 255%;
        text-align: center;
        margin: 0;
        color: var(--secondary-text-color);
    
        @media screen and (min-width: 768px) {
            font-size: 14px;
            line-height: 216%;
            letter-spacing: 0.04em;
        }
    
        @media screen and (min-width: 768px) {
            font-size: 16px;
            line-height: 186%;
            letter-spacing: 0.04em;
        }
    }

    &__client{
        font-family: 'DM Sans';
        font-weight: 500;
        font-size: 14px;
        line-height: 186%;
        text-align: center;
        margin-top: 24px;
        margin-bottom: 32px;
        color: var(--secondary-text-color);
        @media screen and (min-width: 768px) {
            font-size: 16px;
        }
    
        @media screen and (min-width: 768px) {
            font-size: 20px;
        }
    }
    
}
.slider .slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 12px;
    content: '';
    background-image: url(../images/dots-circle.png);
    text-align: center;
}
.slider .slick-dots li.slick-active button:before {
    background-image: url(../images/dots-home.png);}

/*градієнт "лінії"*/
.reviews__container {
    padding: 43px 50px 17px 50px;
}
.lines {
    padding: 0px 8px 0px 15px;
    width: 180px;
    min-height: 250px;
    border: none;
    outline: none;
    background:    
        repeating-linear-gradient(
                transparent 0px,
                transparent 29px,
                #E1E1E1 30px,
                #E1E1E1 31px);
} 
@media screen and (min-width: 768px) {
    .reviews__container {
            padding: 28px 6px 36px 6px;
            width: 620px;
        }
    .lines {
        padding: 0px 49px 0px 45px;
        width: 608px;
          min-height: 93px;
      }
        .reviews__text {
            width: 514.12;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 2.16;
            letter-spacing: 0.04em;
            color: #000000;
    }
}

@media screen and (min-width: 1200px) {
    .reviews__container {
            padding: 47px 74px 31px 73px;
            width: 968px;
        }
    .lines {
        padding: 0px 35px 0px 36px;
        width: 821px;
        min-height: 65px;
    }

    .reviews__text {
        width: 750px;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.86;

        text-align: center;
        letter-spacing: 0.04em;

        color: #000000;
    }
}

/*коми на слайдер
.reviews__text {
    .reviews__text {
        position: relative;
    }
}
.slider {
    position: absolute;
    z-index: 1;
}
.slider__reviews {
    z-index: 1;
}

.slider::before {
        content: ' ';
        position: absolute;
        background-image: url('/src/images/quotes@2x.png');
        background-size: contain;
        width: 54px;
        height: 40px;
        top: 148px;
        left: 53px;
        z-index: 1;


        @media screen and (min-width: 768px) {
            width: 60px;
            background-repeat: no-repeat;
            top: 120px;
            left: 50px;
        }

        @media screen and (min-width: 1200px) {
            width: 54px;
            top: 132px;
            left: 175px;
        }
    }

*/
.lines {
    position: relative;
    
}
.reviews__text {
    
    background-color: transparent;
    position: relative;
}
.lines::before {
    content: ' ';
    position: absolute;
    background-image: url('/src/images/quotes@2x.png');
    background-size: contain;
    width: 54px;
    height: 40px;
    top: -15px;
    left: 3px;

    z-index: 0;

    @media screen and (min-width: 768px) {
        top: -18px;
        left: 0px;
        width: 60px;
        background-size: cover;
    }

    @media screen and (min-width: 1200px) {
        left: 0px;
        width: 54px;
    }
}

   
