a{
text-decoration: none;
color: white;    
}

body{
    font-family: 'DM Sans';

}

h1{
    font-family: 'Titan One';
    color: white;
    letter-spacing: 0.04em;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;   
}

.header{
    display: flex;
    justify-content: space-between;

    &--background{        
        background-color: rgba(255, 184, 202, 1);      
    }
}

.nav{
    display: flex;

    &__links{
        display: none;
        list-style:none;
               
    }    

    &__button{
        display: flex;
        height: 44px;
        width: 160px;
        align-items: center;
        justify-content: center;
        background-color: white;
        color: rgba(212, 20, 67, 1);
        border: none;
        border-radius: 22px;

        &:hover,
        &:focus{
            background-color: rgba(212, 20, 67, 1);
            color: white;           
        }

        &-arrow{
            width: 9px;
            height: 11px;
            margin-left: 12px;
        }
    }
}

.header__burger-button{
    padding: 0;    
    background-color: transparent;
    border: none;    

        &--image{        
        width: 20px;
        height: 12px;
    }
}

// hero

.hero{
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: rgba(255, 184, 202, 1);
    

    &--background{
        background-color: rgba(255, 184, 202, 1);
    }
    
    &__heading--second-color{
        color: rgba(212, 20, 67, 1);
    }

    &__button--dark{
        padding: 8px 13px;
        
        font-size: 8px;
        background-color: rgba(212, 20, 67, 1);
        color: white;
        border-radius: 22px;

        &:hover,
        &:focus{
            background-color: white;
            color: rgba(212, 20, 67, 1);
        }
    }

    &__button--light{
        padding: 8px 13px;
        font-size: 8px;
        background-color: white;
        color: rgba(212, 20, 67, 1);
        border-radius: 22px;
       
        &:hover,
        &:focus{
            background-color: rgba(212, 20, 67, 1);
            color: white;            
        }
    }

    &--milk-picture{
        display: flex;
    }

    &__paragraph{
        color: white;
        font-size: 8px;
        line-height: 1.5;

        &-button{
            
            border-radius: 50%;
            background-color: white;
            border: none;

            &:hover,
            &:focus{
            background-color: rgba(212, 20, 67, 1);
            }
        &--image{                        
            padding: 7px 1px;
        }
        }
    }

    &--right-section{
        display: flex;
        flex-direction: column;        
        align-items: flex-end;
    }

    &__circle-image{
        position: absolute;
    }

    &__icecream-image{
        position: absolute;
    }
}

@media screen and (max-width: 767px) {

.header{    
    padding-top: 8px;
}

.nav__button{
    display: none;
}

// hero

.hero{
    height: 446px;
    
}
.hero--milk-picture{
    display: none;
}

.hero--right-section{
    display: none;
}

.hero__circle-image{
    right: 0;    
    top: 25px;
    z-index: 1;  
}

.hero__icecream-image {
    right: 30px;
    top: 34px;
    z-index: 2;   
}

.hero--left-section{
    top: 136px;
    left: 20px;
    position: absolute;
    z-index: 3;
}

.hero__heading{
    font-size: 26px;
    margin-bottom: 20px;

    &--second-color{
        font-size: 48px;
    }
}
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
.header {       
        padding-top: 32px;

     &__burger-button{
        margin-right: 32px;
    }
    }

    // hero

.hero{
    height: 339px;
}

.hero__heading {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;

    &--second-color {
        font-size: 34px;
    }
}

.hero--milk-picture{
    margin-top: 20px;
}

.hero__description{
    position: absolute;
    left: 184px;
    bottom: 56px;
    z-index: 3;
}

.hero__paragraph{
    width: 114px;
    margin-bottom: 7px;    
}


.hero--right-section{
    margin-top: 16px;
}

.hero__number-16{
    margin-bottom: 16px;
}

.hero__circle-image {
   left: 248px;
   bottom: 40px;
    z-index: 1;

}

.hero__icecream-image {
    left: 322px;
    bottom: 0;
   
    z-index: 2;
}

.hero__girl-image{
    position: absolute;
    right: 32px;
    bottom: 0;
    z-index: 3;
}

    
}


@media screen and (min-width: 1200px) {
.header__burger-button {
        display: none;
    }

.header {
    position: relative;        
        padding-top: 37px;

        &__link:hover,&__link:focus {
            color: rgba(212, 20, 67, 1);        
        }
    }

.nav__links{
        display: flex;
        position: absolute;
        padding: 0;
        right: 340px;
        top: 37px;
        z-index: 3;
        font-size: 16px;


        &>li:not(:last-of-type){
            margin-right: 15px;
        }
    }

    // hero

.hero__heading {
    font-size: 38px;
    margin-top: 60px;
    margin-bottom: 24px;

    &--second-color {
        font-size: 58px;
    }
}

.hero__button--dark {
    padding: 11px 20px;
    margin-right: 10px;
    font-size: 14px;
    background-color: rgba(212, 20, 67, 1);
    color: white;
    border-radius: 22px;
}

.hero__button--light {
    padding: 11px 20px;
    font-size: 14px;
    background-color: white;
    color: rgba(212, 20, 67, 1);
    border-radius: 22px;
}

.hero--milk-picture {
    margin-top: 40px;
    margin-bottom: 49px;
}

.hero__description {    
padding-top: 69px;
}

.hero__paragraph {
    width: 200px;
    margin-bottom: 20px;
    font-size: 14;
    line-height: 1.4;
}

.hero--right-section {
    margin-top: 68px;
}

.hero__number-16 {
    margin-bottom: 15px;
}

.hero__number-23 {
    margin-bottom: 91px;
}

.hero__circle-image {
    right: 149px;
    bottom: 65px;
    z-index: 1;

}

.hero__icecream-image {
    right: 331px;
    bottom: 0;

    z-index: 2;
}

.hero__girl-image {
    position: absolute;
    right: 20px;
    bottom: 0;
    z-index: 3;
}

}


